---
import ProjectLayout from '../../../layouts/ProjectLayout.astro';
import { get_user_session, app } from '../../../firebase/server';
import Card from '../../../components/Card.astro';
import type { Props } from 'astro/components/ViewTransitions.astro';
import { getFirestore } from 'firebase-admin/firestore';
import type DatabaseNotecard from '../../../lib/notecard_database';

const user = await get_user_session(Astro.cookies);
if(!user) {
  return Astro.redirect("/signin");
}



const db = getFirestore(app);
const notecards_ref = db.collection("Notecards");
const notecards_snapshot = await notecards_ref.where("student_id", "==", user.uid).get();
const user_notecards : DatabaseNotecard[] = notecards_snapshot.docs.map((doc) => ({
  primary_id: doc.id,
  notecard: doc.data(),
})) as DatabaseNotecard[];

---

<ProjectLayout title="Notecards">
  <div id = "Page">
    <div class = "notecards-grid">
        {
          user_notecards.map((notecard : DatabaseNotecard) => (
            <div>
                <Card
                    start_page={notecard.notecard.start_page} 
                    end_page={notecard.notecard.end_page} 
                    title = {notecard.notecard.title}  
                    quote = {notecard.notecard.quote} 
                    href = {`/project/notecards/edit/${notecard.primary_id}`}
                />
            </div> 
          ))
        }
    </div>
      <a href="notecards/add">
        <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 12h14m-7 7V5"/>
        </svg>
    </a>
  </div>
</ProjectLayout>

<style>
    #Page {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        width: calc(100vw - 1rem - 5vw);
        max-width: calc(100vw - 1rem - 12vw);
        text-align: center;
        align-items: center;
    }

    a {
        background-color: var(--color-primary-200);
        display: flex;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        text-align: center;
        border-radius: 100%;
        padding: 0.1rem;
        text-decoration: none;
        color: white;
        font-weight: 800;
        transition: 0.2s;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background-color: var(--color-primary-300);
        scale: 1.1;
    }

    a {
      color: white;
    }
    
    .add-notecard {
      display: flex;
		  max-height: 18vh;
		  height: 18vh;
		  padding: 1px;
		  background-color: var(--color-surface-mixed-300);
		  background-image: none;
		  background-size: 400%;
	    border-radius: 7px;
		  background-position: 100%;
		  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		  overflow: hidden;
    }


    .notecards-grid {
      width: 90%;
      position: relative;
      left: 5%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      gap: 1rem;
    }

    td {
      padding: 0.5rem;
      width: 25%;
    }
</style>