---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { getSessionUser } from '../../firebase/server';
import Card from '../../components/Card.astro';
import type { Props } from 'astro/components/ViewTransitions.astro';
import type Source from '../../lib/source';
let source1 : Source = {
    title: "Promise Me Dad",
    authors: ["Joseph Robinette Biden"],
    series: "",
    series_num: null,
    volume: null,
    edition: null,
    publishing_location: "",
    publishing_company: "",
    publishing_year: 2017,
    doi: "",
    isbn: "123456789012",
    full_citation: " Dumoulin, Heinrich. \"Early Chinese Zen Reexamined: A Supplement to \'Zen Buddhism: A History.\" Japanese Journal of Religious Studies, January 20, 1993. JSTOR.  ",
    student_id: " "
  };

  let source : Source = {
    title: "Promise Me Dad",
    authors: ["Joseph Robinette Biden"],
    series: "",
    series_num: null,
    volume: null,
    edition: null,
    publishing_location: "",
    publishing_company: "",
    publishing_year: 2017,
    doi: "",
    isbn: "123456789012",
    full_citation: " Dumoulin, Heinrich. \"Early Chinese Zen Reexamined: A Supplement to \'Zen Buddhism: A History.\" Japanese Journal of Religious Studies, January 20, 1993. JSTOR.  ",
    student_id: " "
  };

const user = await getSessionUser(Astro.cookies);
if(!user) {
  return Astro.redirect("/signin");
}
---

<ProjectLayout title="Notecards">
  <div id = "Page">
    <table class = "notecards">
      <tr>
        <td><Card title="Bodhidharma Origins" analysis="Either a monk or silk-road traveller" source={source1} href="Google.com"></Card></td>
        <td><Card title="Fall of the Song Dynasty" analysis="Hangzhou taken by Kublai Khan in 1279. Yuan Dynasty established." source={source1} href="Google.com"></Card></td>
        <td><Card title="Bodhidharma Origins" analysis="Either a monk or silk-road traveller" source={source1} href="Google.com"></Card></td>
        <td><Card title="Early Universalism" analysis="Ch'an declares itself the only true form of Buddhism." source={source1} href="Google.com"></Card></td>
      </tr>
      <tr>
        <td><Card title="Origins of Dhyana" analysis="Preached by Patanjali in India, present by the time Bodhidharma arrived." source={source1} href="Google.com"></Card></td>
        <td><Card title="Empress Wu" analysis="Tried to establish the Chou dynasty, supported Buddhism through her reign." source={source1} href="Google.com"></Card></td>
        <td><Card title="The Patriarchs" analysis="Like most sects, the patriarchs of Zen helped lead the school forward; Bodhidharma was the first." source={source1} href="Google.com"></Card></td>
        <td>
          <div class="add-notecard">
            <a href="google.com">
              <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
              </svg>  
            </a>          
          </div>
        </td>
      </tr>
    </table>
  </div>
</ProjectLayout>

<style>
    #Page {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        width: calc(100vw - 1rem - 5vw);
        max-width: calc(100vw - 1rem - 12vw);
        text-align: center;
        align-items: center;
    }
    
    .add-notecard {
      display: flex;
		  max-height: 18vh;
		  height: 18vh;
		  padding: 1px;
		  background-color: var(--color-surface-mixed-300);
		  background-image: none;
		  background-size: 400%;
	    border-radius: 7px;
		  background-position: 100%;
		  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		  overflow: hidden;
    }

    .add-notecard > a {
      width: 100%;
		  text-decoration: none;
		  line-height: 1.4;
		  padding: calc(3rem - 1px);
		  border-radius: 8px;
		  color: white;
		  background-color: #23262d;
		  opacity: 0.8;
	  }

    .add-notecard:is(:hover, :focus-within) {
		  background-position: 0;
		  background-image: var(--accent-gradient);
	  }
	  .add-notecard:is(:hover, :focus-within) h2 {
		  color: rgb(var(--accent-light));
	  }

    .notecards {
      width: 90%;
      position: relative;
      left: 5%;
    }

    td {
      padding: 0.5rem;
      width: 25%;
    }
</style>